

<h3 class"h3" align="center"> Edit your School! </h3>
		<form action="/schools/<%= @school.id %>" method="post" align="center" />

			<input type="hidden" name="_method" value="put">
			  <h2>Edit Name of School</h2>
			<input type="text" id="name_of_school" name="school[name]" value="<%= @school.name %>">
			  <h2>Edit the location</h2>
			<input type="text" id="location_of_school" name="school[location]" value="<%= @school.location %>">
			  <h2>Edit your age </h2>
			<input type="text" id="age_when_attended" name="school[age]" value="<%= @school.age %>">
			<input type="submit" value="Submit">

		</form>

		<form action="/schools/<%= @school.id %>" method="post" align="center">
			<input type="hidden" name="_method" value="delete">
			<input type="submit" value="Delete">
		</form>


